@import "tailwindcss";

@theme {
	--color-primary: #1a1a2e;
	--color-secondary: #16213e;
	--color-tertiary: #0f3460;
	--color-accent: #e94560;
}

@font-face {
	font-family: "Brittany";
	src: url("../fonts/brittany/BrittanySignature.ttf");
}

@theme {
	--font-brittany: "Brittany", cursive;
	--font-boldonse: "Boldonse", system-ui;
	--font-srisakdi: "Srisakdi", system-ui;
	--font-srisakdi-bold: "Srisakdi", system-ui;
	--font-ruslan: "Ruslan Display", sans-serif;
	--font-roboto: "Roboto", sans-serif;
	--font-bangers: "Bangers", system-ui;
}


